Repository opensearch-project/geospatial, pull requests merged in 2022-09, with the labels that each got.

#132 [Backport 2.x] Add XYPoint Field Type to index and query documents that contains cartesian points
  src/main/java/org/opensearch/geospatial/index/mapper/xypoint/XYPoint.java
  src/main/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointFieldMapper.java
  src/main/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointFieldTypeParser.java
  src/main/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointIndexer.java
  src/main/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointParser.java
  src/main/java/org/opensearch/geospatial/index/query/xypoint/XYPointQueryProcessor.java
  src/main/java/org/opensearch/geospatial/index/query/xypoint/XYPointQueryVisitor.java
  src/main/java/org/opensearch/geospatial/plugin/GeospatialPlugin.java
  src/test/java/org/opensearch/geospatial/GeospatialRestTestCase.java
  src/test/java/org/opensearch/geospatial/index/common/xyshape/ShapeObjectBuilder.java
  src/test/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointFieldMapperIT.java
  src/test/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointFieldMapperTests.java
  src/test/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointIndexerTests.java
  src/test/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointParsingTests.java
  src/test/java/org/opensearch/geospatial/index/query/AbstractXYShapeQueryTestCase.java
  src/test/java/org/opensearch/geospatial/index/query/xypoint/XYPointQueryIT.java
  src/test/java/org/opensearch/geospatial/index/query/xypoint/XYPointQueryProcessorTests.java
  src/test/java/org/opensearch/geospatial/index/query/xypoint/XYPointQueryVisitorTests.java
  src/test/java/org/opensearch/geospatial/index/query/xyshape/XYShapeQueryIT.java
Labels: v2.4.0, feature, geospatial

#142 Added release notes for version 2.3.0.0
  release-notes/opensearch-geospatial.release-notes-2.3.0.0.md
Labels: documentation, release, backport 2.x

#138 Fix integration test failure with security enabled cluster
  src/test/java/org/opensearch/geospatial/GeospatialRestTestCase.java
  src/test/java/org/opensearch/geospatial/OpenSearchSecureRestTestCase.java
  src/test/java/org/opensearch/geospatial/plugin/GeospatialPluginIT.java
Labels: enhancement, v2.4.0, geospatial

#156 Flip X and Y coordinates for WKT and array formats in XYPoint
  src/main/java/org/opensearch/geospatial/index/mapper/xypoint/XYPoint.java
  src/main/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointParser.java
  src/test/java/org/opensearch/geospatial/index/mapper/xypoint/XYPointParsingTests.java
Labels: invalid, geospatial, backport 2.x
