Repository opensearch-project/geospatial, pull requests merged in 2023-09, with the labels that each got.

#400 Version bump for spotlss and apache commons
  CHANGELOG.md
  build.gradle
Labels: backport 2.x, backport 2.10

#396 Created release notes for 2.10 release
  CHANGELOG.md
  release-notes/opensearch-geospatial.release-notes-2.10.0.0.md
Labels: backport 2.x, skip-changelog, v2.10.0, backport 2.10

#430 Removing the security audit system index from getting deleted to fix the 2.10 integ tests failures
  src/test/java/org/opensearch/geospatial/OpenSearchSecureRestTestCase.java
Labels: skip-changelog, integ-test-failure, v2.10.0
